<!-- table model  for both order and client -->
<table class="table">
  <!-- thead utile pour le référencement -->
  <thead>
      <!-- table row (ligne) -->
      <tr>
          <!--   table header cells (th) -->
          <th *ngFor="let i of tables" scope="col">
            {{i}}
          </th>
      </tr>
  </thead>
  <tbody>
    <!-- we use ng-conetnt to tell,here is some content that will come from parent's file ,
    its means we use it to receive data  -->
    <ng-content></ng-content>
  </tbody>
</table>





